<!-- header.html starts here -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
<!-- note that the header below this comment (<h1>Stop Provincial Interference</h1>) is commented out; if you uncomment it, it still won't appear because for some reason the CSS is also set to transparent font colour (I guess I did that for search engine optimisation, as it would still appear in search results). If you want it to appear, then you need to uncomment it and make a change in _sass/base.scss: search for header-content-inner and then h1, and then color: transparent: make it some colour or even just comment out the line by puttin two // in front of it -->
<!--           <h1>Stop Provincial Interference!</h1> -->
            <!-- hr>
            <p>Stop Bill 18!</p -->
            <br/><br/><br/><br/>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More (comes from _includes/header.html)</a><br/><br/>
            <a href="#act" class="btn btn-primary btn-xl page-scroll">Add your voice! (comes from _includes/header.html)</a>
            <!-- p>Stop Bill 18!</p -->
        </div>
    </div>
</header>
<!-- header.html ends here -->
