<p><b>_includes/nav.html starts here  (remove this by commenting putting &lt;!-- in front and --
   &gt; after this sentence) -- It is invoked in _layouts/front</b></p>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
             </button>
            <a class="navbar-brand page-scroll" href="#page-top">Patrick O'Donnell! (from _includes/nav.html)</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

<!-- these are pointing at sections of the webpage that appear below. The sections are called by _layouts/front.html and appear in the order they are listed there. Their content is found in the other files in this directory -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">What is Bill 18? (nav.html)</a>
                </li>
                <li>
                    <a class="page-scroll" href="#bad">Why is it bad? (nav.html)</a>
                </li>
<li>
                    <a class="page-scroll" href="#others">What do others think about it? (nave.html)</a>
                </li>                
                <li>
                    <a class="page-scroll" href="#act">What can I do to help? (nav.html)</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<b>_includes/nav.html ends here  (remove this by commenting putting &lt;!-- in front and --
   &gt; after this sentence) -- It is invoked in _layouts/front</b>
