<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
<!-- note: the background image to this page is found in sass/_base.scss -->
This is coming from _layouts/front.html. That file is where you list the different sections (nav.html, header.html etc.) _layouts/front.html is called by index.html (which you don't need to edit). You need to remove this text.

  {% include nav.html %}
  {% include header.html %}
  {% include whatisbill18.html %}
  {% include whatcanido.html %}
  {% include whoareyou.html %}
  {% include scripts.html %}
</body>

</html>
